{% extends 'offnav1.html' %}
{% load crispy_forms_tags %}
{% block content %}




<div class="container border-bottom mt-3">
<a href="/sales/list"><h6 class="display-6 text-dark">Sales List</h6></a>
</div>  


<div class="container col-md-6 mt-0">
    </br>
    </br>
    
    <form method="POST">{% csrf_token %}
        {{ data_dict.forms|crispy }}
    </br>
    </br>
    <div class="text-center"><button type="submit" class="btn btn-dark">Submit</button></div>
    </form>

    </br>
    </br>

</div>



<div class="container">
    <h3 class="display-4 text-center mb-5">Sales DataFrame</h3>
    {% if data_dict.sales_df is None %}
        <div class="container alert alert-danger mt-5 text-center col-md-6" role="alert">
            No data to display
        </div>
       
    {% else %}
        <div class="container text-center" style="justify-content: center;display:flex;align-items: center;">   
            {{ data_dict.sales_df|safe}}
        </div> 
    {% endif %}
</div>



<div class="container">
    <h3 class="display-4 text-center mt-5 mb-5">Positions DataFrame</h3>
    {% if data_dict.sales_df is None %}
        <div class="container alert alert-danger mt-5 text-center col-md-6" role="alert">
            No data to display
        </div>
       
    {% else %}
        <div class="container text-center" style="justify-content: center;display:flex;align-items: center;">   
            {{ data_dict.positions_df|safe}}
        </div> 
        <!-- <div class="container text-center" style="justify-content: center;display:flex;align-items: center;">   
            MERGE DATAFRAME<br>
            {{ data_dict.merge_df|safe}}
        </div> 
        <div class="container text-center" style="justify-content: center;display:flex;align-items: center;">   
            GROUPED DATAFRAME BY TRASACTION <br>
            {{ data_dict.grp_df|safe}}
        </div>  -->
    {% endif %}
</div>
{% endblock %}