{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container col-md-6 mt-5 mb-5 text-center">
    <a href="{% url 'learn:list' %}"><img src="{{data.image.url}}" class="img-fluid" style="max-width:600px"/></a>
</div>
<h3 class="display-2 mt-5 text-center">{{ data.title }}</h3>


<div class="container col-md-6 mt-5">
   <p class="lead">{{data.blog}}</p>
   <h5>By:{{ data.author }}</h5>
   <p class="lead">{{ data.created }}</p>
   

    <a class="d-grid gap-2 mt-3">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      See Comments
    </button>
    </a>
    

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for each in com_data %}
            <p class="mt-0 mb-0">{{each.author}} on {{each.created}}</p>
            <p class="lead mt-0 mb-4">{{ each.body }}</p>
            {% endfor %}
          </div>
         
        </div>
      </div>
    </div>

      
    <form method="POST">{% csrf_token %}
       
      <div class="mb-3 mt-5">
          <label for="comment" class="form-label">Leave a Comment</label>
          <textarea class="form-control" name="body" rows="5" placeholder="Feel free to comment"></textarea>
        </div>
  
  
      <button class="btn btn-dark text-white" type="submit">Comment</button>
      </form> 
   
    
    
    
    
</div>




{% endblock %}



