{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="container col-md-8 mt-5 mb-5 text-center">
    <img src="{{data.image.url}}" class="img-fluid img-responsive"/>
</div>


<h3 class="display-2 mt-5 text-center">{{ data.title }}</h3>


<div class="container col-md-8 mt-5">
  <div class="row">
  <div class="container col-md-8">
   <p class="lead">{{data.blog}}</p>
   <h5>By:<a href="{% url 'social:profile' p_user %}" style="color:black">{{ data.author }}</a></h5>
   <p class="lead">{{ data.created }}</p>
  </div>
  
  <div class="container col-md-4">
    {% if request.user == data.author %}
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#change_post">
      Change Post
    </button>
    {% else %}
    <form method="POST">{% csrf_token %}

      {% if like == True %}
      <button class="btn btn-dark" type="submit" name="like_button">
        Dislike Post ({{tot_like}} likes)
      </button>
      {% else %}
      <button class="btn btn-dark" type="submit" name="like_button">
        Like Post ({{tot_like}} likes)
      </button>
      {% endif %}
      
    </form>  
    
    {% endif %}
  
  
    <div class="modal fade" id="change_post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Operations</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <a href="/social/post/{{ data.pk }}/update"><button class="btn btn-dark" type="button">Update</button></a>
            <a href="/social/post/{{ data.pk }}/delete"><button class="btn btn-dark" type="button">Delete</button></a>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
    </div>
   
 
  </div>
    
    

    
    <form method="POST">{% csrf_token %}
       
      <div class="mb-3 mt-5">
          <label for="comment" class="form-label">Leave a Comment</label>
          <textarea class="form-control" name="body" rows="5" placeholder="Feel free to comment"></textarea>
        </div>
      <button class="btn btn-dark text-white" name="comment1_button" type="submit">Comment</button>
    </form> 
   
    
     <a class="d-grid gap-2 mt-5 mb-5">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#comment">
          See Comments
        </button>
        </a>
        
    
        <div class="modal fade" id="comment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               
                {% for each in com_data %}
                <p class="mt-0 mb-0">{{each.author}} on {{each.created}}</p>
                <p text="dark" class="lead mt-0 mb-4">{{ each.body }}</p>
                
                {% endfor %}
              </div>
             
            </div>
          </div>
        </div>
    
    
</div>




{% endblock %}



