{% extends "navbar1.html" %}
{% block content %}
{% load static %}

<h2 class="display-3" style="text-align: center;margin: 40px;">This is chat room: {{room_name}}</h2>


    
    
<div style="overflow-y: scroll; height:500px;" id="scrollmes">
    <div id="display" class="container col-md-7"></div>
    <div id="display1" class="container col-md-7"></div>
</div>
    
<div class="container col-md-5">
    <label for="exampleFormControlTextarea1" class="form-label mt-4">Write Something</label>
    <textarea class="form-control" id="chat-message-input" rows="1"></textarea>
    <div class="d-grid gap-2">
    <button class="btn btn-dark mt-4" type="buttom" id="chat-message-submit">Send</button>
    </div>
</div>
   
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        var objDiv = document.getElementById("scrollmes");
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/social/chat/'
            + roomName
            + '/'
        );
        

        chatSocket.onmessage = function(e) {
            const user =document.getElementById('user').textContent;
            const data = JSON.parse(e.data);
            
            if (data.message.length>1){
                var x=0;
                for(x=0;x<data.message.length;x++){
                    if (user == data.message[x].author){
                        document.getElementById("display").innerHTML += 
                        "<div style='color:indigo;background:white;border-radius:20px;text-align:center' class='container darker col-md-6 mr-0'>"+
                                                "<a style='font-size:23px;'>"+
                                                    "You"+
                                                    "</a>"+"___"+ 
                                                    (data.message[x].time).slice(0,10) +" "+
                                                    (data.message[x].time).slice(12,19)+
                                                    "<p class='lead'>"+data.message[x].body+
                                                        "</p></div>";
                    

                    }
                    else{
                        document.getElementById("display").innerHTML += 
                        "<div style='color:red;background:white;border-radius:20px;text-align:center' class='container darker col-md-6 ml-0'>"+
                                                "<a style='font-size:23px;'>"+
                                                    data.message[x].author+
                                                    "</a>"+"___"+ 
                                                    (data.message[x].time).slice(0,10) +" "+
                                                    (data.message[x].time).slice(12,19)+
                                                    "<p class='lead'>"+data.message[x].body+
                                                        "</p></div>";

                    }

            }
        }
        if(data['command'] == 'new_message'){
            if (user == data.message.author){
                        document.getElementById("display1").innerHTML += 
                        "<div style='color:indigo;background:white;border-radius:20px;text-align:center' class='container darker col-md-6 mr-0'>"+
                                                "<a style='font-size:23px;'>"+
                                                    "You"+
                                                    "</a>"+"___"+ 
                                                    (data.message.time).slice(0,10) +" "+
                                                    (data.message.time).slice(12,19)+
                                                    "<p class='lead'>"+data.message.body+
                                                        "</p></div>";
                    

                    }
                    else{
                        document.getElementById("display1").innerHTML += 
                        "<div style='color:red;background:white;border-radius:20px;text-align:center' class='container darker col-md-6 ml-0'>"+
                                                "<a style='font-size:23px;'>"+
                                                    data.message.author+
                                                    "</a>"+"___"+ 
                                                    (data.message.time).slice(0,10) +" "+
                                                    (data.message.time).slice(12,19)+
                                                    "<p class='lead'>"+data.message.body+
                                                        "</p></div>";

                    }
                    objDiv.scrollTop = objDiv.scrollHeight;
              
            
        }


  
        };

        chatSocket.onopen = function(e){
            fetchMessages();

        }

        function fetchMessages(){
            chatSocket.send(JSON.stringify({'command':'fetch_messages'}));
        }

       
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

       

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
           

            chatSocket.send(JSON.stringify({
                'message': message,
                'command':'new_message',

            },
            ));
            
        };

        
       
    </script>


{% endblock %}

