{% extends "nav_search.html" %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'card.css' %}" />


<h1 class="display-2 mt-5 text-center">Related User Profiles</h1>

<div class="row row-cols-1 row-cols-md-4 g-4 ml-3">
{% for each in data_sr %}
<div class="conatainer ">
<div class="card  mt-5 mb-3" style="width:280px;">
  <a href="{% url 'social:profile' each.pk%}">
  <img src="{{ each.image.url }}" class="card-img-top">
  </a>
  <div class="card-body">
    
    <p class="lead">@{{ each.user }}</p>    
    <h5 class="diaplay-4 text-dark">From {{ each.city }}</h5>
    <p>{{ each.name }}</p>
    
    
   
  </div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}
