{% extends "navbar.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <h3 class="display-3 text-center mt-5">Update your Profile</h3>
</div>

<div class="container col-md-5 mt-5 mb-5">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}  
        {{ form|crispy }}
        <div class="d-grid gap-2 mt-5 mb-5">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>   
       
    </form>

    
     


</div>


{% endblock %}